body {
  background-color: #243657;
}

#sInput {
  border: 1px solid #eeeeee;
  margin: 2px;
  padding: 2px;
}

#sTasks {
  margin: 2px 0;
  padding: 4px;
  position: relative;
}

.taskInstructions {
  color: #eeefff;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 4px;
}

.taskItem {
  display: inline;
  border: 1px solid grey;
  background: #eeefff;
  color: black;
  padding: 5px;
  margin: 2px 0;
}

.taskItem:hover {
  border: 1px solid red;
}

#sDisplay {
  border: 1px solid #eeeeee;
  margin: 2px;
  padding: 2px;
  overflow-wrap: break-word;
}

#sDisplay:after {
  content: "";
  display: table;
  clear: both;
}

#times {
  float: left;
  margin: 2px 2px 0 0;
  width: 11%;
}

#schedule {
  float: left;
  /*border: 1px solid #eeeeee;*/
  margin: 2px;
  width: 84%;
}

.slot {
  height: 25px;
  text-align: left;
}

.marker {
  height: 25px;
  text-align: right;
}
